<include "../public/head"/>
<body class="loginbox">
    <div class="je-login"></div>
    <div class="je-logincon">
        <div class="logo"></div>
        <p class="logtext">欢迎登录后台管理系统</p>
        <p class="je-pb10"><input class="userinp" type="text" id="user" placeholder="请输入用户名"></p>
        <p class="je-pb10"><input class="userinp" type="password" id="pass" placeholder="请输入密码"></p>
        <p class="je-pt10"><input class="userbtn" type="button" value="确 认 登 录" onclick="gosys()"></p>
    </div>
<script type="text/javascript" src="/themes/jeui/js/modules/jquery.js"></script>
<script type="text/javascript" src="/themes/jeui/js/modules/jeBox.js"></script>
<script type="text/javascript">
    function gosys() {
        var u = document.getElementById("user").value;
        var p = document.getElementById("pass").value;
        $.ajax({
            type: "POST",
            url: "loginajax",
            timeout: 60000,
            async: true,
            data: {
                "username":u,
                "password":p
            },
            success: function(data, textStatus) {  
                if(data.ret == 0)
                    jeBox.alert(data.message);
                else
                    window.location.href = "list"
            }
        });
        
    }
</script>
</body>
</html>